body{
    margin: 0;
}

/*create image backround*/

header{
    background-image: url(img/pattern.png);
    background-color: rgba(2, 133, 255, 0.874);
    width: auto;
    height: 130px;
    background-size: 500px;
    background-repeat: repeat-x;
}

