/*general stle page*/

body{
    margin: 0;
}

#contenitore{
    max-width: 1020px;
    margin: auto;
}

/*general stle page/*/

/*create image backround*/

header{
    background-image: url(img/pattern.png);
    background-color: rgba(2, 133, 255, 0.874);
    width: auto;
    height: 130px;
    background-size: 500px;
    background-repeat: repeat-x;
}

/*create image backround/*/

/*create logo Booleaner*/

#logo{
    width: 300px;
    margin-top: 50px;
    margin-left: 10px;
}

/*create logo Booleaner/*/

/*titles*/

.pricipal-title{
    margin-bottom: 5px;
}

/*titles/*/

/*subtitle*/

.subtitle{
    font-size: 23px;
}

.text-gray{
    color: rgba(0, 0, 0, 0.589);
}

.text-blue{
    color: rgb(0, 200, 255);
}

.date{
    font-size: 18px;
}

/*subtitle/*/

/*pricipal image*/

.tim-image{
    margin-top: 30px;
}

.decription-image{
    margin-top: 0px;
    margin-bottom: 0px;
}

/*pricipal image/*/

/*general text*/

.general-text{
    font-size: 20px;
}

.text-yellow{
    background-color: yellow;
}

/*general text/*/

/*ul list*/

.ul-list{
    padding-left: 6px;
}

/*ul list/*/

/*table*/

#table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    margin-top: 20px;
}
.thead{
    background-color: rgba(0, 166, 255, 0.862);
    color: white;    
}

.azure{
    background-color: rgba(0, 166, 255, 0.288);
}

.final-cell{
    width: 52%;
}

/*table/*/

/*footer*/

footer{
    margin-top: 80px;
}

.first-image-footer{
    background-image: url(img/monitor.jpg);
    background-repeat: no-repeat;
    height: 208px;
    color: white;
    text-align: justify;
    padding-left: 15px;
    padding-top: 15px;
}

.second-image-footer{
    background-image:url(img/graph.jpg);
    background-repeat: no-repeat;
    height: 208px;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
}

/*footer/*/










